# ROS Artifacts
log/
build/
install/

# Rust and C++ Code Artifacts
compile_commands.json
*.wzrd
target/

# KiCad
fp-lib-table
sym-lib-table
*.bak
*.lck
*.kicad_prl

*-bak
*-cache
*-backups/
\#auto_saved_files\#/

# KiCAD Plugins / Elec admin stuff
fabrication-toolkit-options.json
replicate_layout.log
ibom.html
production/
out/

# Other
/.devcontainer/.env
.vscode/
.cache/
